<html>
<%- include('head'); %>
<body>
<%- include('toolbar_admin_view'); %>
<script src="js/table.js"></script>
<style type="text/css">
    td {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    table {
        table-layout: fixed;
    }
</style>
<div id="main" style="width: 100%">
    <button id="1" class="btn  btn-sm btn-primary" onclick="changeTableDisplay(this.id)">Таблиця пацієнтів</button>
    <br>
    <% if(patients.length > 0){ %>
        <div class="table-responsive table-body">
            <table id="table1" style="width: 100%; overflow-x:hidden; font-size: smaller"
                   class="table table-striped table-responsive-sm btn-table"
                   style="width: 70%; margin-left: 15%">
                <thead>
                <tr>
                    <th>Айді</th>
                    <th>Прізвище</th>
                    <th>Ім'я</th>
                    <th>По-батькові</th>
                    <th>Місто</th>
                    <th>Вулиця</th>
                    <th>Будинок</th>
                    <th>Квартира</th>
                    <th>Номер телефону</th>
                    <th>Тип крові</th>
                    <th>Резус фактор</th>
                    <th>Дата народження</th>
                    <th>Імейл</th>
                    <th>Коментарі</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 0; i < patients.length; i++) { %>
                    <tr>
                        <td><%= patients[i].Patient_ID %></td>
                        <td><%= patients[i].Patient_Surname %></td>
                        <td><%= patients[i].Patient_Firstname %></td>
                        <td><%= patients[i].Patient_City %></td>
                        <td><%= patients[i].Patient_Street %></td>
                        <td><%= patients[i].Patient_Building %></td>
                        <td><%= patients[i].Patient_Apt %></td>
                        <td><%= patients[i].Patient_Index %></td>
                        <td><%= patients[i].Patient_PhoneN %></td>
                        <td><%= patients[i].Patient_BloodType %></td>
                        <td><%= patients[i].Patient_Rhesus %></td>
                        <td><%= patients[i].Patient_Birthdate %></td>
                        <td><%= patients[i].Patient_eAddress %></td>
                        <td><%= patients[i].Patient_Notes %></td>
                        <td name="buttons">
                            <div class="btn-group pull-right">
                                <button id="bEdit1<%= i %>" type="button" class="btn btn-sm btn-default"
                                        onclick="rowEdit(this);"><i
                                            class="fas fa-pencil-alt"> </i></button>
                                <button id="bEdit1<%= i %>" type="button" class="btn btn-sm btn-default"
                                        onclick="rowDelete(this);"><i
                                            class="fas fa-trash"> </i></button>
                                <button id="bAcep1<%= i %>" type="button" class="btn btn-sm btn-default"
                                        style="display:none;"
                                        onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                                <button id="bCanc1<%= i %>" type="button" class="btn btn-sm btn-default"
                                        style="display:none;"
                                        onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    <% } %>
</div>
</body>
</html>