<body>
<script src="js/table_doctor_patient.js"></script>
<%- include('head'); %>
<%- include('toolbar_doctor_view', {section: 'main'}); %>
<div class="table-responsive table-body">
    <% if(patients.length > 0){ %>
        <table id="tableDoctorPatients" class="table table-striped table-responsive-md btn-table"
               style="max-width: 100%; margin: 15px;width: auto;">
            <thead>
            <tr>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По-батькові</th>
                <th>Номер телефону</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < patients.length; i++) { %>
                <tr>
                    <td><%= patients[i].Patient_Surname %></td>
                    <td><%= patients[i].Patient_FirstName %></td>
                    <td><%= patients[i].Patient_Patronymic %></td>
                    <td><%= patients[i].Patient_PhoneN %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</div>

<!--<div class="table-responsive table-body">-->
<div>
    <table id="tableDoctorPatients" class="table table-striped table-responsive-md btn-table"
           style="max-width: 100%; margin: 15px;width: auto;">
        <thead>
        <tr>
            <th>Пацієнт</th>
            <th>Алергії</th>
            <th>Кількість алергій</th>
        </tr>
        </thead>
        <tr>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"
                       id="selectedPatientD">Пацієнт
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdownPatientsD">
                        <% for (let i = 0; i < patients.length; i++) { %>
                            <li><a href="#"
                                   id_val="<%= patients[i].Patient_ID %>"><%= patients[i].Patient_Surname %></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </td>
            <td id="allergiesTd">
                <!--<s%=allergies%s>-->
            </td>
            <td id="allergiesNumTd">
                <!--<s%=allergies.num%s>-->
            </td>
        </tr>
        <tbody>
        </tbody>
    </table>
</div>
</body>