<!--&lt;!&ndash;<html>&ndash;&gt;-->
<head>
<%- include('head'); %>
</head>
<body>
<script src="js/table_myprofile.js"></script>
<%- include('head'); %>
<%- include('toolbar_patient_view', {section: 'main'}); %>
<div style="margin: 25px">
    <table class="table table-striped table-responsive-md btn-table" id="t1" style="width: 60%; margin-left: 15%">
        <thead>
        <tr>
            <th colspan="3">Моя інформація</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Прізвище</td>
            <td id="td1"><%= p.Patient_Surname %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit1" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep1" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc1" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Ім'я</td>
            <td><%= p.Patient_Firstname %></td>
            <td></td>
        </tr>
        <tr>
            <td>По-батькові</td>
            <td><%= p.Patient_Patronymic %></td>
            <td></td>
        </tr>
        <tr>
            <td>Місто</td>
            <td id="td2"><%= p.Patient_City %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit2" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep2" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc2" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Вулиця</td>
            <td id="td3"><%= p.Patient_Street %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit3" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep3" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc3" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Будинок</td>
            <td id="td4"><%= p.Patient_Building %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit4" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep4" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc4" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Квартира</td>
            <td id="td5"><%= p.Patient_Apt %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit5" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep5" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc5" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Поштовий індекс</td>
            <td id="td6"><%= p.Patient_Index %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit6" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep6" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc6" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Тип крові</td>
            <td><%= p.Patient_BloodType %>
                <% p.Patient_Rhesus %>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Номер телефону</td>
            <td id="td7"><%= p.Patient_PhoneN %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit7" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep7" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc7" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>Дата народження</td>
            <td><%= p.Patient_Birthdate %></td>
            <td></td>
        </tr>

        <tr>
            <td>Email</td>
            <td id="td8"><%= p.Patient_eAddress %></td>
            <td name="buttons">
                <div class="btn-group pull-right">
                    <button id="bEdit8" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);"><i
                                class="fas fa-pencil-alt"> </i></button>
                    <button id="bAcep8" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowAcep(this);"><i class="fas fa-check-circle"> </i></button>
                    <button id="bCanc8" type="button" class="btn btn-sm btn-default" style="display:none;"
                            onclick="rowCancel(this);"><i class="fas fa-window-close"> </i></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <% if(analysis.length > 0){ %>
        <table id="tableAnalysis" style="width: 60%; margin-left: 15%"
               class="table table-striped table-responsive-md btn-table"
               style="width: 70%; margin-left: 15%">
            <thead>
            <tr>
                <th>Тип аналізу</th>
                <th>Дата</th>
                <th>Результати</th>
            </tr>
            </thead>
            <tbody>
            <% for (let i = 0; i < analysis.length; i++) { %>
                <tr>
                    <td><%= analysis[i].Analysis_Category %></td>
                    <td><%= analysis[i].Analysis_Date %></td>
                    <td><%= analysis[i].Analysis_Info %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
    <table id="tableAllergies" style="width: 60%; margin-left: 15%"
           class="table table-striped table-responsive-md btn-table"
           style="width: 70%; margin-left: 15%">
        <thead>
        <tr>
            <th colspan="2">Аллергії</th>
        </tr>
        </thead>
        <tbody>
        <% for (let j = 0; j < allergies.length; j++) { %>
            <tr style="width: 100%">
                <td id="allergy<%= j %>"><%= allergies[j].allergy %></td>
                <td>
                    <% if (allergies[j].exists){ _%>
                        <input type="checkbox" id="check<%= j %>" checked>
                    <% } else{ %>
                        <input type="checkbox" id="check<%= j %>">
                    <% } %>
                </td>
            </tr>
        <% } %>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" style="text-align:center;">
                <button class="btn btn-primary" value="Apply" type="button" id="allergyBtn" onclick="applyAllergies()">
                    Apply
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
    <script>
        $('#t1').SetEditable("2");
        console.log("ok");
    </script>
</div>
</body>
<!--</html>-->