<html>
<%- include('head'); %>
<body>
<%- include('toolbar_patient_view', {section: 'main'}); %>


<% if(appointments.length > 0){ %>
    <table id="tableAppointments" style="width: 60%; margin-left: 15%"
           class="table table-striped table-responsive-md btn-table"
           style="width: 70%; margin-left: 15%">
        <thead>
        <!--<tr>-->
            <!--<th>Тип аналізу</th>-->
            <!--<th>Дата</th>-->
            <!--<th>Результати</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<% for (let i = 0; i < analysis.length; i++) { %>-->
            <!--<tr>-->
                <!--<td><%= analysis[i].Analysis_Category %></td>-->
                <!--<td><%= analysis[i].Analysis_Date %></td>-->
                <!--<td><%= analysis[i].Analysis_Info %></td>-->
            <!--</tr>-->
        <!--<% } %>-->
        <!--</tbody>-->
    </table>
<% } else{%>
    <p style="margin-top: 30%">Ваша історія прийомів пуста.</p>
<%}%>


</body>
</html>