<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" style="color:#ffcc04">Система обліку пацієнтів</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#D_navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
            <li class="nav-item <%= section === 'main' ? '' : 'active' %>">
                <a class="nav-link" href="/doctor/">Головна</a>
            </li>
            <li class="nav-item <%= section === 'our_departments' ? '' : 'active' %>">
                <a class="nav-link" href="/doctor/our_departments">Наші відділення</a>
            </li>
            <li class="nav-item <%= section === 'my_profile' ? '' : 'active' %>">
                <a class="nav-link" href="/doctor/my_profile" id="D_myprofileID">Мій профіль</a>
            </li>
            <li class="nav-item <%= section === 'my_appointments' ? '' : 'active' %>">
                <a class="nav-link" href="/doctor/my_appointments" id="D_myappointmentsID">Мої прийоми</a>

            </li>
            <li class="nav-item <%= section === 'patients' ? '' : 'active' %>">
                <a class="nav-link" href="/doctor/patients" id="D_patientsID">Пацієнти</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" id="loginAid">
                <a class="nav-link trigger-btn" href="#D_Logout" data-toggle="modal"
                   data-target="#D_modalLoginForm">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        console.log("&&&&&&&&&token -" + sessionStorage.getItem('token'));
        $('#D_myprofileID').on('click', function (e) {
            e.preventDefault();
            console.log("token -" + sessionStorage.getItem('token'));
            $.ajax({
                type: 'GET',
                headers: {Authorization: sessionStorage.getItem("token")},
                url: '/doctor/my_profile',
                success: function (response) {
                    console.log("success of /doctor/my_profile/");
                    $("body").html(response);
                }
            });
        });
        $('#D_myappointmentsID').on('click', function (e) {
            e.preventDefault();
            console.log("token -" + sessionStorage.getItem('token'));
            $.ajax({
                type: 'GET',
                headers: {Authorization: sessionStorage.getItem("token")},
                url: '/doctor/my_appointments',
                success: function (response) {
                    console.log("success of /doctor/my_appointments/");
                    $("body").html(response);
                }
            });
        });

        $('#D_patientsID').on('click', function (e) {
            e.preventDefault();
            console.log("token -" + sessionStorage.getItem('token'));
            $.ajax({
                type: 'GET',
                headers: {Authorization: sessionStorage.getItem("token")},
                url: '/doctor/patients',
                success: function (response) {
                    console.log("success of /doctor/patients/");
                    $("body").html(response);
                }
            });
        });
    });

</script>
